.wrapper-features {
  padding: 40px;
}
.wrapper-features h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}
.wrapper-features p {
  font-weight: lighter;
  margin-bottom: 20px;
}
.wrapper-features img {
  width: 80px;
}
