/* Footer design */
.wrapper-footer {
  color: #CCCCCC;
  background: #272822;
  padding: 20px;
}
.wrapper-footer li {
  padding: 20px;
}
.wrapper-footer .fa {
  font-size: 25px;
  transition: all 0.5s ease;
}
.wrapper-footer .fa:hover {
  color: yellow;
}
