    <!-- Your footer code -->

    <div class="wrapper-footer">
      <ul class="list-inline">
        <li><i class="fa fa-youtube"></i></li>
        <li><i class="fa fa-camera"></i></li>
        <li><i class="fa fa-facebook"></i></li>
        <li><i class="fa fa-twitter"></i></li>
      </ul>
      <p>This is a Airbnb Home challenge @ LeWagon</p>
    </div>
